body {
    background-image: url("../images/bk.jpg");
}

h1 {
    font-family: 'Inconsolata', monospace;
    color: darkblue;
}

.jumbotron {
    height: 400px;
    /* display: grid; */
    background-color: khaki;
    justify-content: center;
}

.btn {
    background-color: lightgray;
}