body {
    background-image: url("../images/bk.jpg");
}

h1 {
    font-family: 'Inconsolata', monospace;
    color: darkblue;
}

div {
    text-align: center;
}
.jumbotron {
    height: 100%;
    /* display: grid; */
    background-color: khaki;
    justify-content: center;
}

.btn {
    background-color: lightgray;
}

.triviaContent {

}

.timer {
    height: 50px;
    /* background-color: lemonchiffon; */
}

.answers {
    margin-left: 20%;
    margin-right: 20%;
    user-select: none; 
}

.answers:hover {
    background-color:lightseagreen;
}

.answers:active {
    background-color: grey;
}