body {
    background-image: url("../images/bk.jpg");
}

h1 {
    font-family: 'Inconsolata', monospace;
    color: darkblue;
}

div {
    text-align: center;
}
.jumbotron {
    height: 100%;
    /* display: grid; */
    background-color: khaki;
    justify-content: center;
}

.btn {
    background-color: lightgray;
}

.timer {
    height: 50px;
    text-shadow: 0 0 3px #FF0000;
    /* background-color: lemonchiffon; */
}

.answer {
    margin-left: 20%;
    margin-right: 20%;
    user-select: none; 
}

.answer:hover {
    background-color:lightseagreen;
    border: solid 1px darkred;
}

.answer:active {
    background-color: grey;
    border: solid 1px darkred;
}

#gif {
    width: 40%;
}